<h1><%= @user.name %></h1>

<%= image_tag @user.avatar.url %>

<% @categories.each do |category|%>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
      <ul> <% category.goals.each do |goal| %>
        <li> <%= goal.name %> </li>
        <% end %>
      </ul>
  </div>
<% end %>
