<div class="row">

  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @user.avatar.url %><br/>
          <h1><%= @user.name %></h1>
        </div>
      <div class="col-sm-8">
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="col-sm-12 text-center">
      <div class="row">
        <% @categories.each do |category|%>
        <div class="col-sm-6">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <ul> <% category.goals.each do |goal| %>
            <li> <%= goal.name %> </li>
            <% end %>
          </ul> <!-- goals -->
        </div> <!-- col-sm-6 -->
        <% end %> <!-- categories -->
      </div> <!-- row -->
    </div> <!-- col-sm-12 -->

  </div>

</div>
