<div class="modal fade" id="completed_goal_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Good Job! You completed your goal!</h4>
      </div>
      <div class="modal-body">
        <p>Want to share to our Twitter&hellip;</p>

      </div>
      <div class="modal-footer">
        <button type="button" id="no_thanks_button" class="btn btn-default" data-dismiss="modal">No, thanks</button>
        <button type="button" id="share_button" class="btn btn-primary">Share</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
