@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

.apple_pagination{
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
  color: #222222;
  font: normal 76% "Lucida Grande", Verdana, Helvetica, sans-serif;
}

body {
  font-family: 'Maven Pro', sans-serif;
}

.inspiration_height {
  min-height:380px;
}

.cat_index_height {
  min-height:300px;
}

nav{
  padding:5px 0;
}

.structure {
  height: 70%;
  margin-left: 300px;
  margin-right: 300px;
  background-color: #e1f3ef;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.highlight-red {
  border: 1px solid red;

}

.home-container {
  height:375px;
}

input[type=checkbox] {
  transform: scale(2.0);
  -webkit-transform: scale(2.0);
}

h2, h3 {
  font-color: #668A99;
}

img {
  vertical-align: middle;
  horizontal-align: center;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 60%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
  max-height: 150px;
}
