.row
  .container
    .row
      .col-lg-12.text-center.container
        %h1.page-header
          My Buckets&nbsp;&nbsp;
          %a.btn.btn-info{:href => new_category_path}
            %span.glyphicon.glyphicon-plus
        - @categories.each do |category|
          - if current_user.id == category.user_id
            .col-sm-6.col-lg-4.text-center.cat_index_height
              - if category.cat_pic.present?
                = image_tag category.cat_pic.url, :class => "img-circle img-responsive img-center img-rounded img-thumbnail"
              %h3
                = link_to("#{category.name}", category_goals_path(category.id))
              %br
              %br
    
      = will_paginate @categories, :class => "apple_pagination"
